!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Note online QNU</title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
<body>
	<nav th:fragment="header">
		<div class="card">
			<div class="card-body">
				<div class="text-center">
					<H2>Android</H2>
					<img src="/image/funny-cat.jpg" style="max-width: 40%;"></img>
				</div>
			</div>
		</div>
	</nav>
</body>
</html>
<footer th:fragment="footer" class="container"> Copyright
	&copy; 2020 ThiThom </footer>